@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth; }
body { 
  background-color: #050209; /* Very dark purple/black */
  color: white; 
  font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #0f0715; }
::-webkit-scrollbar-thumb { background: #a855f7; border-radius: 4px; }